.charge__container h1 {
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #000000;
}

.charge__remain__container {
  margin-bottom: 50px;
}

.charge__remain__container .explanation {
  color: gray;
  font-size: 16px;
  text-align: left;
  font-weight: 100;
}

.money__container {
  padding: 20px;
}

.money__container .left-item {
  float: left;
}

.left-item span {
  padding-left: 70px;
}

.money__container .right-item {
  float: right;
}

.clearfix::after {
  content: '';
  clear: both;
  display: block;
}

/*   height: 750px; */
.btn-charge {
  border: 3px solid #000000;
  border-radius: 10px;

  padding: 10px 20px;

  background: #ffffff;
  color: #000000;

  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;

  cursor: pointer;
  user-select: none;
  transition: 0.2s all;
}

.btn-charge:hover {
  background-color: #000000;
  color: #ffffff;
}

.history__container p {
  font-size: 16px;
}
