.main__container {
  position: relative;
}

.box-img {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.check-img {
  position: absolute;
  top: 50px;
  left: 53%;
  transform: translate(-50%, 0%);
}

.button__container {
  position: absolute;
  text-align: center;
  top: 600px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.button__container a {
  text-decoration: none;
}

/* 이용하러가기 버튼*/
.join {
  display: block;
  background: #000000;
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  font-size: 1.6em;
  padding: 0 2em;
  margin: auto;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

.join:hover {
  background: #fff;
  color: #000000;
}

.join:before,
.join:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #000000;
  transition: 400ms ease all;
}

.join:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.join:hover:before,
.join:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
