.penalty__container__title,
.reward__container__title {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000000;
}

.penalty__container h1,
.reward__container h1 {
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  margin: 10px;
  padding-bottom: 5px;
}

.penalty__container span,
.reward__container span {
  font-size: 1em;
  margin: 10px;
}

.penalty_reward__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.penalty__history {
  width: 90%;
  margin: 0px auto;
  box-sizing: border-box;
  height: 300px;
  overflow: auto;
}

.reward__history {
  width: 90%;
  margin: 0px auto;
  box-sizing: border-box;
  height: 300px;
  overflow: auto;
}

.penalty__history p,
.reward__history p {
  font-size: 16px;
}

.item {
  margin-left: 20px;
  margin-right: 20px;
}

.item .penalty__money,
.item .reward__money {
  float: left;
}

.item span {
  float: right;
}

.item .clearfix::after {
  content: '';
  clear: both;
  display: block;
}
