.container {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Logo {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 500px;
  width: 500px;
}

.Logo .box-img {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.Logo .check-img {
  position: absolute;
  top: 0px;
  left: 60%;
  transform: translate(-50%, 0%);
}

.register-form {
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}

.register-form h1 {
  margin-top: 0;
}

.link__login {
  text-decoration: none;
  color: #000000;
}

.link__login:visited {
  color: #000000;
}
