.setting__container h1 {
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #000000;
}

.setting__items ul {
  list-style: none;
}

.setting__items li {
  font-size: 24px;
  text-align: left;
  padding-bottom: 30px;
}

.setting__items__li {
  width: 200px;
}

.clearfix::after {
  content: '';
  clear: both;
  display: block;
}

.btn-submit {
  float: right;
}
