.setting__container h1 {
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #000000;
}

.clearfix::after {
  content: '';
  clear: both;
  display: block;
}

.btn-submit {
  float: right;
}
