.header-container {
  padding: 16px;
}

.header-items {
}

nav {
}

a {
  display: inline-block;
  line-height: 40px;
  padding: 0 10px;
  height: 40px;
  border: 1px none black;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
