.Template{
    margin: 0 50px;
    max-width: 1440px;
}


.ChallengeName{
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    color: black;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px black;
    width: 800px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    white-space: pre-wrap;
}

.Challimg{
    width: 600px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.Template1{
    margin-top: 60px;
    margin-left: 30px;
}

.Myname{
    display: flex;
    align-items: flex-start;
    font-size: 13px;
    color: black;
}

.Name{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.Challenge-days{
    display: flex;
    align-items: flex-start;
    margin-left: 10px;
}




.Myname + .Myname{
    margin-top: 50px;
}

.Myname + .Myname .Challenge-days{
    margin-left: 0px;
}


.Template2{
    margin-top: 50px;
    margin-left: 50px;
    max-height: 300vh;
    max-width: 100vh;
}
.title{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #6c567b;
}

.Template2 + .Template3{
    margin-top: -280px;
    margin-left: 850px;
}
.Template3{

    max-height: 100vh;
    max-width: 100vh;
    
}

.ChallengeDays{
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.ChallengeDays + .ChallengeDays{
    margin-left: 15px;
}

.content{
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
}
.Router{
    margin: 0 50px;
    font-size: 20px;
    display: flex;
}

.Router1{
    cursor: pointer;
    font-size: 20px;
    display: flex;
}
.Router2{
    cursor: pointer;
    font-size: 20px;
    display: flex;
    margin-left: 30px;
}
.Router3{
    cursor: pointer;
    font-size: 20px;
    display: flex;
    margin-left: 30px;
}

